@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #f0f2f5;
    --primary-foreground: #0a0a0a;
    --secondary: #ffffff;
    --secondary-foreground: #1c1c22;
  }

  .dark {
    --primary: #0a0a0a;
    --primary-foreground: #f0f2f5;
    --secondary: #1c1c22;
    --secondary-foreground: #ffffff;
  }
}

@layer base {
  body {
    @apply bg-primary text-primary-foreground font-mono;
    @apply transition-colors duration-500 ease-in-out;
  }

  .primary-gradient {
    @apply bg-gradient-to-r from-floral via-fieryrose via-coral to-yelloworange;
  }

  .group .text-3xl.font-bold:hover {
    opacity: 1 !important;
  }

  /* styles.css */
  .CollapsibleContent {
    overflow: hidden;
  }
  .CollapsibleContent[data-state="open"] {
    animation: slideDown 300ms ease-out;
  }
  .CollapsibleContent[data-state="closed"] {
    animation: slideUp 300ms ease-out;
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}
